.navbar {
  display: flex;
  align-items: center;
  background-color: #fff5ee;
  width: 100vw;
  height: 75px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.navbar-container {
  height: 90%;
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-button {
  background-color: #4834d4;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.navbar-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
