.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 533px;
  background-color: #fff6e9;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 30px;
  max-width: 849px;
  line-height: 1.4;
  margin: 0;
  color: #1f1c35;
}
h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
  color: #1f1c35;
}

.hero-button {
  font-size: 20px;
  color: #fff6e9;
  background-color: #4335a7;
  margin-top: 30px;
  height: 62px;
  width: 257px;
  border-radius: 15px;
}

.hero-button:hover {
  background-color: #2f247b;
}
